.banner{background-image: url("../assets/img/santafea.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    position: relative;
    z-index: 1;
    }

.banner2{background-image: url("../assets/img/yarumal.jpg");
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        padding: 25%;
        position: relative;
        z-index: 1;
        }

.banner3{background-image: url("../assets/img/bello.jpeg");
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        padding: 25%;
        position: relative;
        z-index: 1;
        }